@media screen and (max-width: 480px) {
    .head-first {
        display: block;
        width: 100%;
        text-align: center;
        padding: 6px 0px;
        background-color: beige;
    }

    .head-first p {
        float: none;
        margin-left: 0;
    }

    .head-first p span {
        color: #4fae4e;
        font-weight: bold;
        display: inline;
    }

    .cnt-account {
        width: 100%;
    }

    .cnt-account ul {
        float: none;
        margin-right: 0px;
        display: inline;
    }

    .head-second img {
        margin-left: 0;
        margin-top: 20px;
        width: 60%;
    }

    #alll {
        display: none;
    }

    .head-second {
        text-align: center;
    }

    .phone-email {
        left: 0px;
        top: 0px;
        display: inline;
        position: relative;
    }

    .head-second .phone-email p {
        border-right: none;
    }

    .phone-email input {
        width: 60%;
    }

    .brr {
        display: block;
    }

    .amount {
        display: none;
    }

    .phone-email a {
        display: none;
    }

    .head-third ul {
        margin-left: 0px;
    }

    .head-third ul li {
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        display: inline;
    }

    .head-third ul li a {
        font-size: 15px;
    }


    .content-left {
        width: 100%;
        float: none;
        margin-top: 0px;
        margin-left: 0px;
    }

    .cnt-directory {
        margin-top: 10px;
        width: 100%;
        float: none;
    }

    .directory {
        position: relative;
        padding: 20px 0;
        width: 100%;
    }

    .directory h1 {
        margin-left: 20px;
    }

    .cnt-directory ul {
        margin-top: 0px;
    }

    .ar {
        margin-top: 17px;
        margin-right: 10px;
        float: right;
    }

    .cnt-directory ul li {
        padding: 0px;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    .cnt-directory ul li a {
        margin: 20px;
    }

    .cards-products {
        float: none;
    }

    #new-product-category-name {
        margin-left: 20px;
    }

    .outstanding {
        left: 20px;
    }

    .outstanding-product {
        float: none;
    }

    .next-previous {
        display: none;
    }

    .list-product-card {
        margin-top: 30px;
        float: none;
    }

    .news {
        width: 100%;
        float: none;
    }

    .sign-up-newsletter {
        width: 100%;
        float: none;
        margin-top: 10px;
    }

    .sign-up-newsletter p,
    input,
    button {
        margin-left: 20px;
    }

    #sun {
        margin-left: 20px;
        width: 80%;
    }

    .content-right {
        display: none;
    }

    .sign-up-newsletter .add-to-cart-right {
        margin-left: 0;
    }

    .twondd-flyer {
        width: 100%;
    }

    .twond-flyer {
        margin-left: 20px;
        width: 80%;
    }

    .footer {
        float: none;
    }

    .trademark,
    .much-search {
        margin-left: 20px;
    }

    .brand-catalog {
        text-align: left;
    }

    .brand-page ul li {
        display: block;
    }

    .footer-column {
        margin-left: 20px;
        position: relative;
        left: 20px;
        padding-top: 30px;
        display: flex;
        width: 96%;
    }

    #footer-column-1,
    #footer-column-2,
    #footer-column-3,
    #footer-column-4 {
        left: 0;
    }

    .footer-image {
        width: 100%;
    }

    .footer-bottom {
        height: 70px;
        top: 0px;
    }

    .footer-bottom p {
        padding-top: 20px;
        margin-left: 20px;
        font-size: 12px;
    }

    .student-and-project-introduction {
        display: none;
    }
}